body {
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-size: 18px;
}
#key-container {
  display: flex;
  flex-direction: column;
}
#qr-code {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#qr-code > * {
  border: 1px solid #525252;
  border-radius: 0.25em;
  padding: 0.5rem;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
}
input[type="text"] {
  border: 1px solid #525252;
  border-radius: 0.25em;
  box-sizing: inherit;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
  font-size: 1rem;
  outline: none;
}
#name {
  font-family: "Assistant";
  padding: 0.5em 1em;
}
button,
.button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border-radius: 0.25em;
  font-family: inherit;
  margin-bottom: 1rem;
  font-weight: 600;
  background-color: #3f51b5;
  color: #ffff;
  box-shadow: 2px 1px 6px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #233188;
  text-decoration: none;
  transition: all .2s ease;
}
button:hover,
.button:hover {
    box-shadow: 2px 1px 12px 0 rgba(0, 0, 0, 0.4);

}
#download {
  margin-top: 1rem;
}
